$def with (datos)
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tablas</title>
</head>
<body>
    $datos
    <h1>Mis datos</h1>
    <table>
        <thead>
            <th>No.</th>
            <th>Nombre</th>
        </thead>
        <tbody>
            $for i in datos:
            <tr style="padding-left: 20px;">
                <td>
                    $i[0]
                </td>
                <td>$i[1]</td>
                
            </tr>
        </tbody>
    </table>
</body>
</html>